---
import { getImageLinks } from '../../sanity/lib/getPost'

const posts = await getImageLinks();

const monthMap = {
  enero: 0,
  febrero: 1,
  marzo: 2,
  abril: 3,
  mayo: 4,
  junio: 5,
  julio: 6,
  agosto: 7,
  septiembre: 8,
  octubre: 9,
  noviembre: 10,
  diciembre: 11,
};

function parseCustomDate(dateString) {
  const [day, , month] = dateString.split(' ');
  const currentYear = new Date().getFullYear();
  return new Date(currentYear, monthMap[month.toLowerCase()], parseInt(day));
}

const sortedPosts = posts.sort((a, b) => parseCustomDate(a.Fecha) - parseCustomDate(b.Fecha));

---
<div class="relative min-h-[50vh] mb-10">
  <h2 class="my-14 text-center text-2xl md:text-4xl font-bold text-with-stroke">Próximos eventos</h2>
  <div id="containerDates" class="flex w-[90%] m-auto justify-around items-center overflow-y-auto gap-16 pb-5">
    {sortedPosts.map((item) => (
      <a key={item._id} class="Links w-[100%] md:w-auto m-auto" href={item.link} target="_blank" rel="noopener noreferrer">
        <img class="max-w-[270px] rounded-xl m-auto object-cover h-[300px]" src={item.image.asset.url} alt="Event Image" />
        <span class="text-sm md:text-xl font-bold flex justify-center items-center">{item.Fecha} - {item.Ciudad}</span>
      </a>
    ))}
  </div>
</div>
<style>
  
</style>