---
import { getImageLinks } from '../../sanity/lib/getPost';

const posts = await getImageLinks();

const monthMap = {
  enero: 0,
  febrero: 1,
  marzo: 2,
  abril: 3,
  mayo: 4,
  junio: 5,
  julio: 6,
  agosto: 7,
  septiembre: 8,
  octubre: 9,
  noviembre: 10,
  diciembre: 11,
};

function parseCustomDate(dateString) {
  const [day, , month] = dateString.split(' ');
  const currentYear = new Date().getFullYear();
  return new Date(currentYear, monthMap[month.toLowerCase()], parseInt(day));
}

const sortedPosts = posts.sort((a, b) => parseCustomDate(a.Fecha) - parseCustomDate(b.Fecha));

---

<div class="bg-gray-950 w-[90%] md:w-[40%] min-h-24 rounded-3xl m-auto mt-10">
  <div class="overflow-x-auto">
    <table class="rounded-3xl min-w-full">
      <thead class="font-bold">
        <tr>
          <th class="py-3 px-4 border-b-2 border-gray-300 md:text-sm text-[0.6rem] font-semibold text-center text-[#3AC9BE]">Fecha</th>
          <th class="py-3 px-4 border-b-2 border-gray-300 md:text-sm text-[0.6rem] font-semibold text-center text-[#3AC9BE]">Ciudad</th>
          <th class="py-3 px-4 border-b-2 border-gray-300 md:text-sm text-[0.6rem] font-semibold text-center text-[#3AC9BE]">Lugar</th>
          <th class="py-3 px-4 border-b-2 border-gray-300 md:text-sm text-[0.6rem] font-semibold text-center text-[#3AC9BE]">Tickets</th>
        </tr>
      </thead>
      <tbody>
        {sortedPosts.map((post) => (
          <tr class="border-t font-bold" key={post._id}>
            <td class="py-4 px-4 border-r text-center md:text-sm text-[0.6rem]">{post.Fecha}</td>
            <td class="py-4 px-4 border-r text-center md:text-sm text-[0.6rem]">{post.Ciudad}</td>
            <td class="py-4 px-4 border-r text-center md:text-sm text-[0.6rem]">{post.Lugar}</td>
            <td class="py-4 px-4 text-center bg-green-500 hover:bg-green-700">
              <a
                class="py-2 px-4 rounded-3xl h-full w-full text-white md:text-sm text-[0.6rem] text-center"
                href={post.link}
                target="_blank"
                rel="noopener noreferrer"
              >
                Tickets
              </a>
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
</div>
